astor==0.8.1
asttokens==2.0.5
attrdict==2.0.1
Babel==2.10.1
backcall==0.2.0
bce-python-sdk==0.8.64
beautifulsoup4==4.11.1
cachetools==5.2.0
certifi==2022.5.18.1
cfgv==3.3.1
charset-normalizer==2.0.12
click==8.1.3
colorama==0.4.4
craft-text-detector==0.4.3
cssselect==1.1.0
cssutils==2.4.1
cycler==0.11.0
Cython==0.29.30
decorator==5.1.1
distlib==0.3.4
einops==0.2.0
et-xmlfile==1.1.0
executing==0.8.3
filelock==3.7.1
flake8==4.0.1
Flask==2.1.2
Flask-Babel==2.0.0
fonttools==4.33.3
future==0.18.2
gdown==4.4.0
identify==2.5.1
idna==3.3
imageio==2.19.3
imgaug==0.4.0
importlib-metadata==4.11.4
ipython==8.4.0
itsdangerous==2.1.2
jedi==0.18.1
Jinja2==3.1.2
joblib==1.1.0
kiwisolver==1.4.2
lmdb==1.0.0
lxml==4.9.0
MarkupSafe==2.1.1
matplotlib==3.5.2
matplotlib-inline==0.1.3
mccabe==0.6.1
mkl-fft==1.3.1
mkl-random @ file:///C:/ci/mkl_random_1626186184278/work
mkl-service==2.4.0
networkx==2.8.3
nodeenv==1.6.0
numpy==1.22.4
ocrd-fork-pylsd==0.0.3
opencv-contrib-python==4.4.0.46
opencv-python==4.5.4.60
openpyxl==3.0.10
opt-einsum==3.3.0
packaging==21.3
paddle-bfloat==0.1.2
paddleocr==2.5.0.3
paddlepaddle==2.3.0
pandas==1.4.2
parso==0.8.3
pickleshare==0.7.5
Pillow==9.1.1
platformdirs==2.5.2
pre-commit==2.19.0
prefetch-generator==1.0.1
premailer==3.10.0
prompt-toolkit==3.0.29
protobuf==3.20.1
psutil==5.9.1
pure-eval==0.2.2
pyclipper==1.3.0.post2
pycodestyle==2.8.0
pycryptodome==3.14.1
pyflakes==2.4.0
Pygments==2.12.0
pyparsing==3.0.9
PySocks==1.7.1
python-dateutil==2.8.2
python-Levenshtein @ file:///D:/bld/python-levenshtein_1649607060396/work
pytz==2022.1
PyWavelets==1.3.0
PyYAML==6.0
requests==2.27.1
scikit-image==0.19.2
scikit-learn==1.1.1
scipy==1.8.1
seaborn==0.11.2
Shapely==1.8.2
shellcheck-py==0.8.0.4
six @ file:///tmp/build/80754af9/six_1644875935023/work
sklearn==0.0
soupsieve==2.3.2.post1
stack-data==0.2.0
threadpoolctl==3.1.0
tifffile==2022.5.4
toml==0.10.2
torch==1.11.0
torchvision==0.12.0
tqdm==4.64.0
traitlets==5.2.2.post1
typing_extensions==4.2.0
urllib3==1.26.9
vietocr==0.3.8
virtualenv==20.14.1
visualdl==2.2.3
wcwidth==0.2.5
Werkzeug==2.1.2
wincertstore==0.2
zipp==3.8.0
